{{$d := or (dbGet .User.ID "wordle").Value sdict}}

{{if $d.Games}}
  {{if $m := reFindAllSubmatches `` .Message.Content}}
    {{with index $m 0}}
    {{end}}
  {{end}}
{{end}}


{{/* Example Fields

  UserData:
    Games : cslice GameData

    Stats :
      Game    : GameStats
      Games   : int games started
      Guesses : int valid guesses

    Cfg   : sdict users configuration
      DM        : bool hidden/DM mode
      Errors    : bool show errors
      Hard      : bool hard mode
      Jargon    : bool unrestricted mode
      Lingo     : bool lingo mode
      TimeLimit : int  time limit in seconds
      User      : PartUser


  Server:
    Words :
      Added   : string added words
      Daily   : string current daily word
      Default : string default words
      Hourly  : string current hourly word
      Removed : string removed words
      Request : cslice WordRequest

    Stats :
      Game     : GameStats
      Guesses  : int      valid guesses
      Players  : int      player count
      TopDaily : PartUser previous highest daily user
      TopUser  : PartUser highest ranked user

    Cfg   :
      AdminRoles : cslice administrator roles
      DM         : bool   hidden/DM mode
      EditRoles  : cslice list editor roles
      Errors     : bool   show errors
      Hard       : bool   hard mode
      Jargon     : bool   unrestricted mode
      Lingo      : bool   lingo mode
      ModRoles   : cslice moderator roles
      TimeLimit  : int    time limit in seconds


  GameData:
    Alpha    : cslice letters
    CID      : int    channel id
    MID      : int    message id
    Stage    : int    stage of game
    Settings :
      DM        : bool hidden/DM mode
      Errors    : bool show errors
      Hard      : bool hard mode
      Jargon    : bool unrestricted mode
      Lingo     : bool lingo mode
      TimeLimit : int  time limit in seconds
    Word     : string target word

  GameStats:
    Wins     : int    wins
    Losses   : int    losses
    Distro   : cslice win distribution
    Streak   : int    current streak
    Record   : int    max streak
    [Games      = wins + losses]
    [Ratio      = wins / losses]

  PartUser:
    ID     : int    userid
    Name   : string display name
    String : string username#discrim

  WordRequest:
    PartUser
    Word : string requested word

*/}}

{{/*

  todo:
    trim word list of "bad words"
    split main guess cc and commands
    reduce db entry count
    log more info
    implement daily/hourly words
    help page for actual gameplay
    cancel game on "cancel"/"end"

*/}}